* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body, html {
    width: 100%;
    height: 100vh;
    font-family: Arial, Helvetica, sans-serif;
}

.bold-text {
    font-weight: 700;
    color: black;
}

.grey-p {
    color: #6D7277;
    font-size: 12px;
}

.content-ctr {
    border: 1px solid gray;
    max-width: 500px;
    min-width: 210px;
    margin: 0 auto;
}

.header-ctr {
    display: flex;
    align-items: center;
    padding-top: 5px;
    padding-bottom: 5px;
}

.back-arrow {
    margin: 10px 15px;
    color: #1A8CD8;
}

.name-display {
    display: flex;
    align-items: center;
}

.name-display>h3 {
    margin-right: 2px;
}

.name-display>img {
    width: 18px;
    height: 18px;
}

.hero-ctr {
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
   
}

.hero-img>img {
    width: 100%;
}

.hero-content>img {
    max-width: 100px;
    border-radius: 50%;
    border: 4px solid white;
    position: absolute;
    top: 65%;
    margin-left: 10px;
}

.hero-content>button {
    padding: 10px;
    margin-right: 10px;
    margin-top: 5px;
    border-radius: 25px;
    text-decoration: none;
    border: none;
    background-color: #1A8CD8;
    color: white;
    position: absolute;
    right: 0;
}

.user-info-ctr {
    margin: 75px 10px 0;
}

@media only screen and (min-width: 350px) {
    .user-info-ctr {
        margin-top: 60px;
    }
}

@media only screen and (min-width: 400px) {
    .user-info-ctr {
        margin-top: 55px;
    }
}

@media only screen and (min-width: 450px) {
    .user-info-ctr {
        margin-top: 50px;
    }
}

@media only screen and (min-width: 500px) {
    .user-info-ctr {
        margin-top: 45px;
    }
}

.follows {
    display: flex;
}

.follows p:first-child{
    margin-right: 10px;
}